:root {
  --primary-color: #5621c0;
  --secondary-color: #ad28de;
  --secondary-color2: #5f00a4;
  --background-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
}

header {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #414141;
}